body {
  box-sizing: content-box;
  box-sizing: border-box;
}

.red__one {
  width: 100px;
  padding: 20px;
  border: 1px solid red;
  background: yellow;
}

.red__box {
  display: flex;
}

.red__box .red__one:not(:first-child) {
  margin-left: 5px;
}

.red {
  display: none;
}
