.navigation {
  @include cleaning;
  display: flex;
  justify-content: space-between;

  margin-left: 172px;
  width: 557px;
}

.navigation__link {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #292929;

  text-decoration: none;
}
