.page-header {
  display: flex;
  align-items: center;

  height: 85px;
  border-bottom: 1px solid #d6d6d6;
  max-width: 1920px;
  margin: auto;
}

.page-header--container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
